

<h2><center><u>Welcome to Rock...Paper...Scissors!</u></center></h2>

<h3>The rules are simple. Rock breaks scissors,
    scissors cuts paper, paper covers rock.
    A player who chooses rock beats one who chooses scissors;
    scissors in turn beats paper; paper beats rock.</h3>







<h3><center>Click <a href="/play">Play</a> to begin..</center></h3>
